name: Node CI

on:
    push:
    pull_request:

jobs:

  # Run linting only once
  lint: 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - name: Use Node.js
      uses: actions/setup-node@v5.0.0
      with:
        node-version: 22.x
        cache: 'yarn'
    - name: Yarn install
      run: yarn install
    - name: Lint
      run: yarn lint

  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [18.x, 20.x]
        include:
        - os: macos-latest
          node-version: 20.x
        # TODO : add Windows build
        #- os: windows-latest
        #  node-version: 20.x
          
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5.0.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - name: Yarn install
      run: yarn install
    - name: Test
      run: yarn test
