name: Node CI

on:
    push:
    pull_request:

jobs:

  # Run linting only once
  lint: 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
    - name: Use Node.js
      uses: actions/setup-node@v3.8.1
      with:
        node-version: 20.x
        cache: 'yarn'
    - name: Install
      run: yarn install
    - name: Lint
      run: yarn lint

  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node-version: [16.x, 18.x, 20.x]
        # TODO : add windows as target
          
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.8.1
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - name: Install
      run: yarn install
    - name: Test
      run: yarn test
